.Message {
  padding-top: 100px;
  text-align: center;
}

.grant_row {
  width: 720px;
  font-family: "Roboto", sans-serif;
  padding: 1% 0 0;
  margin: auto;
  background: #FFFFFF;
  margin: 45px auto 0px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 1;
}

.grant_row p {
  font-size: 1.3em
}

.grant_new {
  width: 720px;
  padding: 0.1% 0 0.1%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  background: white;
  border-style: solid;
  border-width: 5px;
  border-color:  rgb(67, 115, 160);
  margin: 25px auto 0px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 1;
}
.grant_new:hover{
  background: rgb(67, 115, 160);
}
.grant_new a:hover{
  background: rgb(67, 115, 160);
  text-decoration: none;
}

.grant_new h2 {
  font-size: 1.8em;
  color: black;
}